In [38]:
import pandas as pd
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_gender = pd.read_csv('gender_submission.csv')
print(df_train['Cabin'].isna().sum())#687 is way too many nulls. 
#Also, the titanic was like a party ship, where people would get blackout drunk and wake up in other people's cabins.
#So, I will drop the Cabin column, since it is irrelevant
df_train = df_train.drop('Cabin',axis=1)
df_train = df_train.drop('PassengerId',axis=1)#PassengerId is irrelevant
df_train = df_train.drop('Embarked',axis = 1)#Where they embarked on the Titanic is irrelevant,
#unless you believe in the butterfly effect
print(df_train['Age'].isna().sum())#There are 177 missing age values, which is too many to look up and impute manually.
#However, I believe age is a relevant feature, and I know that missing values is not such a big problem for naive Bayes,
#So, I will do nothing.
df_train = df_train.drop('Name',axis=1)#Name is irrelevant
df_train = df_train.drop('Ticket',axis=1)#I think ticket is as irrelevant as Cabin
#I won't drop 'Fare' because it signifies who is working to pay their way
#I believe people with family aboard may have been more likely to survive, so I won't drop 'SibSp' and 'Parch'
df_train['Sex'].replace(['female','male'],[0,1],inplace=True)#replace sex with binary
df_train

687
177

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0   NaN      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [39]:
from sklearn.naive_bayes import GaussianNB

ModuleNotFoundError: No module named 'sklearn'